.price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.price .sale span{
  color: var(--color-success);
  font-size: 1.5rem;
  font-weight: bold;
}

.price .full span {
  color: var(--color-complementary);
  font-size: 1.2rem;
  text-decoration: line-through;
  margin-left: 1rem;
}