#portion-list .top {
  height: 10vh;
  width: 100%;
  background-color: inherit;
  background-color: var(--color-complementary-light);
  justify-content: space-between;
  padding: 1rem;
}

#portion-list .top .left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#portion-list .top .right {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#portion-list .top .right span {
  padding: 1rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: var(--color-complementary);
  color: var(--color-text-white);
}