

.porcao-option .option-header {
  height: 10vh;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--color-complementary-light);
  position: sticky;
  top: 0;
}

.porcao-option .option-header .option-counter {
  flex-direction: row;
}

.porcao-option .option-header .option-counter .count {
  background-color: var(--color-complementary);
  color: var(--color-complementary-light);
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

.porcao-option .porcao-list {
  width: 100%;
  padding-left: 0;
}
