#home-page {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-complementary-light);
}

#home-page .header {
  height: 35vh;
  width: 100vw;
}

#home-page .content {
  height: 100%;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 65vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

#home-page .content #about {
  height: 30vh;
  width: 90vw;
  margin: 1rem 2rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  align-items: center;
  justify-content: space-evenly;
  font-style: italic;
  line-height: 2.5rem;
  color: var(--color-complementary);
  box-shadow: var(--box-shadow-black);
}

@media(min-width:700px) {
  #home-page .content {
    margin-top: 3rem;
  }
  #home-page .content #about {
    display: none;
  }
}