html[defaul-theme] {
  --color-primary: #046d32;
  --color-primary-light: #e2ffc596;
  --color-primary-dark: #045828;
  --color-secondary: #ff5700;
  --color-secondary-dark: #f38038;
  --color-secondary-light: #ee925c;
  --color-complementary: #6c757d;
  --color-complementary-light: #f2f2f2;
  --color-complementary-dark: #7f8580;
  --color-success:#28a745;
  --color-background-logo:#e2f8e7;
  --color-border-bottom: #ee925c;
  font-size: 60%;
}
