.hot-cards {
  /* height: 100%; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1rem 0;
}

.hot-cards h2 {
  margin-left: 1rem;
  color: var(--color-complementary);
}

.hot-cards .cards {
  height: 25rem;
  width: 100vw;
  display: flex;

  overflow: scroll;

  align-items: center;
  justify-content: flex-start;
}