#page-default {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#page-default header {
  height: 25vh;
  width: 100vw;
  min-width: 300px;

  display: flex;
  flex-direction: column;
}

#page-default main {
  height: 75vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  #page-default header {
    height: 30vh;
    /* border: 1px solid orange; */
  }
  #page-default main {
    height: 70vh;
    margin-top: 6rem;
  }
}