.card {
  height: 50vh;
  width: 90vw;
  width: 320px;
  background-color: var(--color-background-white);
  box-shadow: var(--box-shadow-black);
  border-radius: 2rem;
  overflow: hidden;
  margin: 2rem;
  /* align-items: center; */
    /* flex-direction: row; */
  /* justify-content: space-evenly; */
  /* line-height: 2.5rem; */
  color: var(--color-complementary);
}
.card .top-card {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  
}

.card .top-card .icon-container {
  height: 50px;
  width: 50px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  background-color: var(--color-primary-light);
  color: var(--color-secondary-light);
  font-size: 2rem;
  box-shadow: var(--box-shadow-green)
}

.card .top-card strong {
  font-size: 2rem;
  color: var(--color-primary);
}

.card .content-card {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}


.card .content-card img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.card .content-card p {
  padding: 1rem 2.5rem;
  font-size: 1.3rem;
  text-align: justify;
  line-height: 2.2rem;
}

.card .bottom-card {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--color-secondary);
}
/* 
.card .content-card .content-with-img {
  height: 100%;
  width: 100%;
}

.card .content-card .content-with-img img {
  height: 45%;
  width: 100%;
  object-fit: cover;
}

.card .content-card .content-with-img p {
  padding: 1rem 2.5rem;
  font-size: 1.3rem;
  text-align: justify;
}

.card .content-card .content-with-list {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.6rem;
}

.card .content-card .content-with-list table {
  padding: 0 3rem;
}

.card .content-card .content-with-list table caption {
  font-size: 1.2rem;
}

.card .content-card .content-with-list table td:last-child {
  text-align: center;
}

.card .content-card .content-with-list table th {
  height: 100%;
  width: 100%;
  text-align: left;
}

.card .content-card .content-with-list table td {
  border-bottom: 1px solid var(--color-complementary-light);
}
*/