.cart-list .checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart-list .checkout .del-cart {
  height: 10vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--color-complementary-light);
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  color: var(--color-complementary);

  margin-bottom: 1rem;
}


.cart-list .checkout .display-total {
  height: 10vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--color-complementary-light);
  border-radius: 0.5rem;
  
  padding: 0 1.5rem;
  
  color: var(--color-secondary);
  font-size: 1.2rem;

  margin-bottom: 1rem;
}

.cart-list .checkout .close {
  height: 8vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-complementary-light);
  border-radius: 3rem;
  
  padding: 0 1.5rem;
  
  background-color: var(--color-secondary);
  color: white;
  font-size: 1rem;

  margin-bottom: 1rem;
}