#cart-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#cart-page .cart-list {
  height: 90vh;
  width: 100vw;
  padding: 0 1rem;
  overflow: scroll;
}


#cart-page .empty-cart {
  height: 90vh;
  width: 100vw;

  padding: 7rem 1rem;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
}

#cart-page .empty-cart img {
  height: 60%;
  width: 60%;
  object-fit: contain;
  /* margin-top: -5rem; */
}

#cart-page .empty-cart .empty-cart-icon {
  color: var(--color-secondary);
  font-size: 10rem;
  margin-bottom: 2.5rem;
}

#cart-page .empty-cart h1 {
  color: var(--color-primary);
}

#cart-page .empty-cart button {
  height: 8rem;
  width: 80%;
  border-radius: 5rem;
  background-color: var(--color-secondary);
  font-size: 1.6rem;
  font-weight: bold;
  color: white;

}