#header {
  height: 35vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

#header .bg {
  height: 50%;
  width: 100%;
  background-image: url('../../assets/img/bg.png');
  background-size: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

#header .top-bar {
  position: absolute;
  height: 17.5vh;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  color: #fff;
  z-index: 1;
}

#header .top-bar .cart-icon {
  height: 10vh;
  font-size: 3rem;
  display: none;
}

#header .top-bar nav {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -1.8rem;
}

#header .top-bar nav ul {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  display: flex;
  flex-direction: row;
}

#header .top-bar nav ul li {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
}

#header .top-bar nav ul .menu-print {
  display: none!important;
}

#header .top-bar nav ul li span {
  font-size: 1rem;
}

#header .top-bar .social-container {
  height: 100%;
  justify-content: space-evenly;
}

#header .top-bar .social-container .social-item {
  flex-direction: row;
  align-items: center;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#header .top-bar .social-container .social-item strong {
  margin-left: 0.5rem;
}

#header .display-bar {
  position: absolute;
  flex-direction: row;
  height: 35vh;
  width: 100%;
  color: var(--color-complementary);
}

#header .display-bar .left {
  height: 100%;
  width: 35%;
  align-items: center;
  justify-content: flex-start;
}

#header .display-bar .left img {
  height: 55%;
  object-fit: contain;
  margin-top: -0.6rem;
}

#header .display-bar .middle {
  display: none;
}

#header .display-bar .right {
  position: absolute;
  height: 18vh;
  width: 100%;
  flex-direction: row;
  font-size: 1.1rem;
  top: 17.5vh;
  padding: 0.5rem;
  padding-left: 1rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-complementary-light);
}

#header .display-bar .right .info-item {
  justify-content: center;
  align-items: center;
  width: 100%;
}

#header .display-bar .right .info-item span {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (min-width: 700px) {
  #header .bg {
    height: 100%;
  }
  #header .top-bar {
    height: 10vh;
    max-width: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  #header .top-bar .cart-icon {
    display: none;
  
  }

  #header .top-bar nav ul .menu-print {
    display: flex!important;
  }
  
  #header .top-bar nav ul li:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  #header .top-bar .social-container {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #header .top-bar .social-item:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  #header .display-bar {
    height: 30vh;
    width: 70%;
    align-items: center;
    top: 10vh;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: var(--box-shadow-black)
  }
  #header .display-bar .left {
    height: 100%;
    width: 25%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  #header .display-bar .left img {
    height: 100%;
    width: 100%;
  }
  #header .display-bar .middle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    padding: 2rem;
    font-style: italic;
  }
  #header .display-bar .right {
    position: initial;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    width: 25%;
    border-left: 2px solid var(--color-complementary-light);
    border-bottom: 0;
  }
}