header {
  height: 10vh;
  width: 100vw;
}

header nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--color-primary);
}


header nav li {
  height: 3rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav li i {
  color: var(--color-secondary);
  font-size: 2rem;
  transition: 0.2s;
}

header nav li i:hover {
  color: var(--color-primary);
  font-size: 2rem;
}


