.horizon-card {
  height: 13rem;
  width: 100%;
  border-bottom: 1px solid var(--color-secondary);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 1rem;

  margin-bottom: 2rem;
}

.horizon-card img {
  height: 100%;
  border-radius: 1rem;
  margin-right: 1.5rem;
}

.horizon-card .right {
  height: 100%;
  width: 100%;
}

.horizon-card p {
  height: 70%;
  padding: 0.5rem;
  text-align: justify;
  font-size: 1.7rem;
  overflow: hidden;
}

.horizon-card .price {
  height: 30%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.horizon-card .price .sale span{
  color: var(--color-success);
  font-size: 1.5rem;
  font-weight: bold;
}

.horizon-card .price .full span {
  color: var(--color-complementary);
  font-size: 1.2rem;
  text-decoration: line-through;
  margin-left: 1rem;
}