#item-page {
  height: 100vh;
  width: 100vw;
  align-items: center;
}

#item-page .header {
  height: 35vh;
}

#item-page .content {
  overflow: scroll;
  height: 65vh;
}


@media(min-width: 700px) {
  #item-page .content {
    width: 70vw;
    height: 50%;
    border-radius: 2rem;
    box-shadow: var(--box-shadow-black);
    overflow-x: hidden;
    margin-top: 10vh;
  }

}