.option-card {
  height: 10vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: var(--color-complementary-dark);
  border-bottom: 1px solid var(--color-complementary-light);
}

.option-card p {
  margin-top: 0.5rem;
}

.option-card .card-controls {
  height: 50px;
  width: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  border: 1px solid var(--color-complementary-light);
  border-radius: 0.5rem;
}