#combo-options-page {
  height: 100vh;
  width: 100vw;
}

#combo-options-page .header {
  height: 35vh;
}

#combo-options-page .top-combo {
  height: 10vh;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

#combo-options-page .content {
  /* width: 100%; */
  overflow: scroll;
}
