#ck {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
}

#ck .top {
  height: 20vh;
  border-bottom: 1px solid var(--color-border-bottom);
}

.items-cart-list {
  min-height: 70vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

#ck .ck-list h1 {
  padding: 1rem;
}